<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Export Data</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1.*/css/pico.min.css">
</head>
<body>
  <nav class="container">
    <ul>
      <li><a href="/">Contest</a></li>
      <li><a href="/stations">Stations</a></li>
      <li><a href="/export">Export</a></li>
    </ul>
  </nav>
  <main class="container">
    <h1>Export Database</h1>
    <a href="/download" class="contrast">Download CSV</a>
  </main>
</html>
